php_flag display_errors on

RewriteEngine On
RewriteBase /
RewriteRule ^(.*).html$ index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

<filesMatch "\.(htm|html|css|js)$">
	AddDefaultCharset UTF-8
</filesMatch>
